Source: repeater-start
Section: Education
Priority: optional
Maintainer: Luke <luke@hearham.live>
Build-Depends: debhelper (>=9),dh-python,python-all (>= 2.6.6-3~),python-setuptools,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: Hearham.live/repeaters
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
#Vcs-Git: git://anonscm.debian.org/collab-maint/repeater-start.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/repeater-start.git

Package: repeater-start
Architecture: all
Depends: ${python3:Depends}, gir1.2-osmgpsmap-1.0, gir1.2-geoclue-2.0, python3-gi, python3-gi-cairo, xdg-utils
Suggests: 
Description: Repeater-START (Showing The Amateur Repeaters Tool)
